apiVersion: v1
kind: Service
metadata:
  name: loki
spec:
  ports:
    - port: 3100
      targetPort: 3100
      name: http-metrics
    - port: 9096
      targetPort: 9096
      name: grpc
  selector:
    app: loki