apiVersion: v1
kind: Service
metadata:
  name: tempo
spec:
  ports:
    - port: 3200
      name: http
    - port: 4317
      name: otlp-grpc
    - port: 4318
      name: otlp-http
  selector:
    app: tempo